#bkground {
    background-color: #0e247ce8;
}
.card {
    width: 90%;
    height: 38%;
}
.card header {
    background-color: #1e4cd5;
    color: white;
}
@media screen and (min-width: 500px) {
    .card {
        width: 50%;
        height: 30%;
    }
        
}
